extends layout

block content
  include mixins/cardPokemon
  div.container
    //form(action='/' method='get')
    //  div.form-input
    //    label(for='type') Type
    //    select(id='type' name='type' autocomplete='off')
    //      each type in types
    //        option(value=type selected = (type === searchType)) #{type}
      div.add-button-row
        a.button.save(href="/add") Add Pokemon Card
  div.container
    each pokemonCard in pokemonCards
      +cardPokemon(pokemonCard)
